<p id="notice"><%= notice %></p>

<h1> Badge Submitted </h1>

<p>
  <strong>Issue date:</strong>
  <%= @badge.issue_date %>
</p>

<p>
  <strong>Recipient name:</strong>
  <%= @badge.recipient_name %>
</p>

<p>
  <strong>Hash:</strong>
  <%= @badge.hash %>
</p>
