<p id="notice"><%= notice %></p>

<h1> Badge Submitted </h1>

<p>
  <strong>Badge UUID:</strong>
  <%= @badge.badge_uuid %>
</p>

<p>
  <strong>Hash:</strong>
  <%= @badge.calculate_hash %>
</p>

<p>
  <strong>Hash ID node:</strong>
  <%= @node.proof_id %>
</p>
